




<div class="frame frame1">
	
	
	<div id="wrap1" class="cardWrapper">
      <div class="card">

      	<div class="cardFace back">
      		<img class="retina flipper" src="../_common/images/320x50/bg.png" />	      	
      		<img class="retina flipper t2" src="../_common/images/320x50/msg_c2.png" />                  
      	</div>
      	<div class="cardFace front">
      		<img class="retina flipper" src="../_common/images/320x50/bg.png" />
      		<img class="retina flipper t1" src="../_common/images/320x50/msg_c1.png" />
      	</div>

             <div class="cardFace front endcard">
                  <% include ../_common/templates/320x50_end %>    

                  <img class="retina  footer" src="../_common/images/320x50/prov_MB.png" /> 
                  <img class="retina  cta" src="../_common/images/320x50/3_cta.png" /> 
            </div>
      	
      	
      </div>

    </div>
    
</div>
